services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    links:
      - db
      - ollama
    # Internal communication uses standard ports
    environment:
      - NEO4J_URI=bolt://db:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password
      - OLLAMA_BASE_URL=http://ollama:11434
      
  db:
    image: neo4j:5
    restart: unless-stopped
    environment:
      - NEO4J_AUTH=neo4j/password
      # GDS has some limitations compared to Enterprise
      - NEO4J_PLUGINS=["apoc", "graph-data-science"] 
    ports:
      - "9474:7474"
      - "9687:7687"
    volumes:
      - neo4j-data:/data

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    volumes:
      - ollama-data:/root/.ollama
    ports:
      # HOST:CONTAINER
      - "11534:11434" # Ollama API (Local: http://localhost:11534)
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

volumes:
  neo4j-data:
  ollama-data: